@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";

#app {
    background: #eee;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallery {
    width: 75%;
    height: 250px;
    margin: auto;
}
